<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170382744315-77m0ofgs4pmthi0c02au8i41uv3v6nln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170382744315-77m0ofgs4pmthi0c02au8i41uv3v6nln</string>
	<key>API_KEY</key>
	<string>AIzaSyCELOjC24iwtv6d5xo4RDs-R4v1ZxoQ2to</string>
	<key>GCM_SENDER_ID</key>
	<string>170382744315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cafeRestaut.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cafe-resto-c3cbd</string>
	<key>STORAGE_BUCKET</key>
	<string>cafe-resto-c3cbd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170382744315:ios:d78e097c04b481a9f8ae5e</string>
</dict>
</plist>